<table class="table table-bordered table-striped">
  <thead>
      <tr>
          <th>UserId</th>
          <th>Id</th>
          <th>Title</th>
          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let album of albums">
          <td>{{ album.id }}</td>
          <td>{{ album.userId }}</td>
          <td>{{ album.title }}</td>
          <!-- <td>
              <button class="btn btn-primary" (click)="onEdit(post)">
                  Editar
              </button>
              <button class="btn btn-danger" (click)="onDeletet(post.id)">
                  Eliminar
              </button>
          </td>-->
      </tr>
  </tbody>
</table>