<table class="table table-bordered table-striped">
  <thead>
      <tr>
          <th>id</th>
          <th>Nombre </th>
          <th>email</th>
          <th>address</th>
          <th>phone</th>
          <th>website</th>
          <th>Company</th>
          <td></td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }} , {{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address.street }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.website }}</td>
          <td>{{ user.company.name }}</td>
          <td>
              <button class="btn btn-primary" (click)="onEdit(post)">
                  Editar
              </button>
              <button class="btn btn-danger" (click)="onDeletet(post.id)">
                  Eliminar
              </button>
          </td>
      </tr>
  </tbody>
</table>